<div class="comp-texto" style="margin-bottom: 15px; text-align: {{alinhamento}}; color: {{cor}};">
    {{#if titulo}}
        <h3 style="margin-bottom: 5px; border-bottom: 1px solid #eee; padding-bottom: 5px;">{{titulo}}</h3>
    {{/if}}
    <p style="line-height: 1.6; font-size: {{tamanhoFonte}}px; margin: 0;">
        {{{conteudo}}}  </p>
</div>